coala-utils~=0.5.0
bs4
lxml
requests
backports.functools-lru-cache==1.5
BeautifulSoup==3.2.1
beautifulsoup4==4.7.1
bs4==0.0.1
certifi==2019.3.9
chardet==3.0.4
coala-utils==0.5.1
idna==2.8
lxml==4.3.3
requests==2.21.0
soupsieve==1.9.1
twitterscraper==0.9.3
urllib3==1.24.3
backports.functools-lru-cache==1.5
BeautifulSoup==3.2.1
beautifulsoup4==4.7.1
bs4==0.0.1
certifi==2019.3.9
chardet==3.0.4
coala-utils==0.5.1
fake-useragent==0.1.11
idna==2.8
lxml==4.3.3
requests==2.21.0
soupsieve==1.9.1
twitterscraper==0.9.3
urllib3==1.24.3
billiard
